.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 96px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 3px 3px 3px #3c5aa6;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.game-card:hover {
    box-shadow: none;
    transform: translate(3px, 3px);
}

.game-card:active {
    box-shadow: inset 3px 3px 3px #3c5aa6;
    transform: translate(6px, 6px);
}

.game-card.game-over {
    pointer-events: none;
}

.game-card.game-over:hover,
.game-card.game-over:active {
    transform: none;
}