.scoreboard {
    min-width: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;

    .score-container {
        text-align: end;
    }
}